<div class="dateCss">
  <span>問卷時間 : {{ quiz.startDate }}</span> ~ <span>{{ quiz.endDate }}</span>
</div>

<div class="themeCss">
  <h3>{{ quiz.title }}</h3>
  <div>
    {{ quiz.description }}
  </div>
</div>


@for (chartData of questionVoList; track $index) {
<div class="chartBox">
  <div class="chartCss"><canvas id="{{ chartData.questionId }}"></canvas></div>
  <div>
    <div class="chartIdCss">{{ chartData.questionId }}. {{ chartData.name }}</div>
    <div class="contentCss">慢慢享受: 30</div>
    <div class="contentCss">速速吃完: 50</div>
  </div>
</div>
}
<div class="btnBox">
  <button class="btn1Css" (click)="backPage()">上一頁</button>
</div>
