<div class="dateCss">
  <span>問卷時間 : {{ quiz.startDate }}</span> ~ <span>{{ quiz.endDate }}</span>
</div>

<div class="themeCss">
  <h3>{{ quiz.title }}</h3>
  <div>
    {{ quiz.description }}
  </div>
</div>

@for (questionVo of questionVoList; track $index) {
  @if (questionVo.type !== 'T' && questionVo.optionsCountList?.length > 0) {
    <div class="chartBox">
      <div class="chartCss">
        <canvas id="{{ questionVo.questionId }}"></canvas>
      </div>

      <div class="chartInfoCss">
        <div class="chartIdCss">{{ questionVo.questionId }}. {{ questionVo.name }}</div>

        @for (optionStat of questionVo.optionsCountList; track optionStat.code) {
          <div class="chartTextCss">{{ optionStat.optionName }} : {{ optionStat.count }}次</div>
        }
      </div>
    </div>
  } @else {
    <div class="chartIdCss">{{ questionVo.questionId }}. {{ questionVo.name }} (不繪製圖表)</div>
  }
}

<div class="btnBox">
  <button class="btn1Css" (click)="backPage()">上一頁</button>
</div>
