.themeCss{
  text-align: center;
  max-width: 1000px;  /* 限制寬度 */
  margin: 80px auto; /* 上下 80px，左右 auto 讓它置中 */
}
.dateCss{
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}

.chartBox{
  width: 800px;
  display: flex;
  align-items: center; /* 水平置中 */
  margin: 30px auto;
}
.chartCss{
  margin-top: 80px;
}
.chartIdCss{
  font-size: 18px;
  font-weight: 600;
  margin-left: 200px
}
.contentCss{
  text-align: left;
  margin-left: 220px;
  margin-top: 10px;
}
.btn1Css{
  height: 40px;
  width: 70px;
  border-radius: 50px;
  background: #10FC0C;
  border: 2px solid #10FC0C;
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 70px;
  cursor:pointer;

  &:hover {
    color: #10FC0C;
    background: black;
  }
}
.btnBox{
  text-align: center;
}
