.background {
  width: 100%;
  height: auto;
  background-image: url("/loginBack2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.titleBox {
  text-align: center;
}

.bodyCss {
  width: 320px;
  height: 385px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 5px 12px 30px rgba(62, 58, 58, 1.3);
  margin-left: 435px;
  margin-top: 165px;
  margin-bottom: 150px;
  padding: 15px 30px;
  background-color: rgba(239, 239, 239);
}

.inputCss {
  width: 200px;
  height: 14px;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px 10px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5px;
}

/*眼睛*/
.fas {
  margin-left: -10%;
}

.inputCss:focus {
  background-color: rgba(255, 255, 255);
  /* 聚焦時更清晰 */
  transition: all 0.3s ease;
  /* 增加動畫效果 */
}

.inputBox {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 13px;
}

.inputBox label {
  width: 60px;
  text-align: center;
}

.inputBox2 {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 13px;
}

.inputBox2 label {
  width: 60px;
  text-align: center;
}

.accountCss {
  font-size: 13px;
  padding-top: 35px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.btnCss {
  height: 30px;
  width: 90px;
  border-radius: 50px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 70px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}

.btnCss2 {
  height: 30px;
  width: 90px;
  border-radius: 50px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}

.textCss {
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}

.mat-tab {
  color: white;
  background-color: aliceblue;
}
