<div class="background">

  <!-- tabs -->
  <div class="bodyCss">
    <mat-tab-group [(selectedIndex)]="selectedTab">

      <!-- 登入 -->
      <mat-tab label="登入">
        <div class="titleBox">
          <div style="letter-spacing: 1px; padding-top: 30px; padding-bottom: 10px; font-size: 15px; font-weight: 500;">
            會員登入</div>
          <div style="color: #971D10; font-size: 6px; letter-spacing: 1px; text-align: center; margin-left: 7px;"> ▋▋▋
          </div>
        </div>
        <div class="inputBox">
          <label>帳號</label>
          <input class="inputCss" [(ngModel)]="userAccount.account" placeholder="your account">
        </div>

        <div class="inputBox">
          <label>密碼</label>
          <input class="inputCss" [(ngModel)]="userAccount.password" [type]="hidePassword ? 'password' : 'text'"
            placeholder="your password">
          <i class="fas" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'" (click)="eyeBtn()"></i>
        </div>

        <div class="accountCss">還沒註冊帳號嗎? 點按鈕<span (click)="textBtn()" class="textCss">" 註冊 "</span>一個!</div>
        <button class="btnCss" (click)="loginbtn()">登入</button>
      </mat-tab>


      <!-- 註冊 -->
      <mat-tab label="註冊">
        <div style="letter-spacing: 1px; padding-top: 15px; padding-bottom: 10px; font-size: 15px; font-weight: 500;">
          會員註冊</div>
        <div style="color: #971D10; font-size: 6px; letter-spacing: 1px; text-align: center; margin-left: 7px;"> ▋▋▋
        </div>
        <div class="inputBox2">
          <label>姓名</label>
          <input class="inputCss" [(ngModel)]="userData.name" placeholder="your username">
        </div>

        <div class="inputBox2">
          <label>電話</label>
          <input class="inputCss" [(ngModel)]="userData.phone" placeholder="your phone">
        </div>

        <div class="inputBox2">
          <label>E-mail</label>
          <input class="inputCss" [(ngModel)]="userData.email" placeholder="E-mail address">
        </div>

        <div class="inputBox2">
          <label>年齡</label>
          <input class="inputCss" [(ngModel)]="userData.age" placeholder="your age">
        </div>

        <div class="inputBox2">
          <label>帳號</label>
          <input class="inputCss" [(ngModel)]="userAccount.password" placeholder="your account">
        </div>

        <div class="inputBox2">
          <label>密碼</label>
          <input class="inputCss" [(ngModel)]="userAccount.password" placeholder="your password">
        </div>

        <button class="btnCss2" (click)="signInbtn()">註冊</button>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
