<div class="background">

  <!-- 橫幅 -->
  <img src="/banner1.png" style="width: 100%; padding-bottom: 30px;">

  <!-- 問卷標題 -->
  <div style="text-align: center; padding: 50px; width: 950px; margin: 0 auto 0 auto;">
    <div style="font-size: 30px; font-weight: 500; padding-bottom: 10px; letter-spacing: 3px;">問卷列表</div>
    <div style="font-size: 13px; padding-top: 10px; letter-spacing: 1px;">
      無論你是資深收藏家、剛入坑的新手，還是單純被萌到的路人，我們都想聽聽你的意見！
      調查大家眼中的「公仔魅力」，一起挖掘那些讓人忍不住掏錢、拍照、炫耀的瞬間。
    </div>
    <div style="color: #971D10; font-size: 10px; padding-top: 20px; letter-spacing: 1px;"> ▋▋▋</div>
  </div>

  <div>
    <!-- 搜尋區塊 -->
    <div class="searchCss">
      <span class="searchItem">問卷名稱</span>
      <input class="searchInput2Css"  [(ngModel)]="inputData">
      <!-- <span class="searchItem">狀態</span>
      <select class="searchInputCss" [(ngModel)]="selectData">
        <option value="">--Please choose--</option>
        <option value="ing">進行中</option>
        <option value="start">即將開始</option>
        <option value="end">結束</option>
      </select> -->
      <span class="searchItem">開始時間</span>
      <input class="searchInputCss" type="date" [(ngModel)]="sDate" >
      <span class="searchItem">結束時間</span>
      <input class="searchInputCss" type="date" [(ngModel)]="eDate" min="{{ sDate }}" >
      <button class="btn1Css" (click)="searchBtn()">搜尋</button>
      <button class="btn1Css" (click)="clearBtn()">清除</button>
    </div>


    <div style="display: flex;">
      <!-- 編輯icon -->
      <div>
        <div class="iconCss1">
          <mat-icon class="deleteCss" aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"
            (click)="delBtn()"></mat-icon>
          <div class="hover">刪除</div>
        </div>
        <br>
        <div class="iconCss2">
          <mat-icon class="addCss" aria-hidden="false" aria-label="Example add icon" fontIcon="add"
            (click)="addBtn()"></mat-icon>
          <div class="hover">新增</div>
        </div>
      </div>


      <!-- 表格區塊 -->
      <div class="mat-elevation-z8 ">
        <table mat-table [dataSource]="dataSource">
          <!-- 勾選欄 -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <!-- 當checkbox狀態改變時，如果事件存在，就執行masterToggle()，否則什麼都不做 -->
              <!-- 有選中全部項目 → 全選框會勾起來 -->
              <!-- 有選中項目但不是全部 → 全選框會顯示灰色半勾（半選） -->
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <!-- 點 checkbox 只影響這列，不會影響父元素 → stopPropagation() 阻止事件冒泡 -->
              <!-- 點 checkbox 切換這列的選中狀態 → toggle() 切換某個元素的選取狀態 -->
              <!-- 勾選狀態根據資料同步 -->
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- 編號 -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> 編號</th>
            <td mat-cell *matCellDef="let element"> {{element.id}}</td>
          </ng-container>

          <!-- 名稱 -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> 名稱 </th>
            <td mat-cell *matCellDef="let element">
              @if (element.state == '進行中') {
              <p (click)="goToFeedback(element)" class="routerCss">
                {{element.title}}
              </p>
              }
              @else {
              {{element.title}}
              }
            </td>
          </ng-container>

          <!-- 狀態 -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> 狀態 </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>

          <!-- 開始時間 -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> 開始時間 </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
          </ng-container>

          <!-- 結束時間 -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> 結束時間 </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
          </ng-container>

          <!-- 統計結果 -->
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> 結果 </th>
            <td mat-cell *matCellDef="let element">

              @if (element.state == '進行中') {
              <p class="resultCss">{{element.result}}</p>
              }
              @else if (element.state == '結束') {
              <p (click)="goToFeedback(element)" class="resultCss">
                {{element.result}}
              </p>
              } @else if (element.state == '即將開始') {
              <p (click)="goToFeedback(element)" class="resultCss">
                {{element.result}}
              </p>
              } @else if (element.state == '尚未發布') {
              <p (click)="goToFeedback(element)" class="resultCss">
                {{element.result}}
              </p>
              }
            </td>
          </ng-container>

          <!-- 回饋 -->
          <ng-container matColumnDef="response">
            <th mat-header-cell *matHeaderCellDef> 回饋 </th>
            <td mat-cell *matCellDef="let element">
              @if (element.state == '結束') {
              <p (click)="goToPage(element)" class="resultCss">
                {{element.response}}
              </p>
              } @else {
              {{element.response}}
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
              'cssA': row.state == '進行中',
              'cssB': row.state == '即將開始' || '尚未發布',
              'cssC': row.state == '結束',
            }">
          </tr>
        </table>

        <br><br>
        <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
