table {
  width: 100%;
  background-color: #f8f9fa;
}
.mat-elevation-z8{
  width: 1000px;
  margin: 15px auto 0 auto;
  border-radius: 12px;
  overflow: hidden;
}
.background{
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background-color: #f8f9fa;
}
.searchCss{
  text-align: center;
}
.searchItem{
  font-size: 15px;
  padding-right: 5px;
}
.searchItem2{
  width: 170px;
  height: 30px;
  margin-right: 10px;
  padding-left: 15px;
  border-radius: 50px;
  border: 1px solid #10FC0C;
}

tr:nth-child(odd)  {
  background-color: #FCFCFC  ;
}

tr, th, td {
  border-bottom: 1px solid #10FC0C;
}

.cssA{
  color: black;
}
.cssB{
  color:#6c757d;
}
.cssC{
  color:#6c757d;
}
.routerCss{
  text-decoration: underline;
  cursor:pointer;

    &:hover {
    color: #10FC0C;
    }
}
.resultCss{
  font-weight: 600;
  cursor:pointer;

    &:hover {
    color: #10FC0C;
    }
}
.iconCss{
  margin: 15px auto 0 280px;
}
.deleteCss{
  padding-right: 5px;
  cursor:pointer;

    &:hover {
    color: #10FC0C;
    }
}
.addCss{
  padding-right: 5px;
  cursor:pointer;

    &:hover {
    color: #10FC0C;
    }
}
