<div class="background">

  <div class="bodyCss">
    <!-- Stepper -->
    <div class="stepperBox">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step>
          <ng-template matStepLabel>設定主題</ng-template>
          <div class="themeCss">
            <div class="insCss">
              <label>問卷名稱 : </label>
              <input [(ngModel)]="quesName" style="width: 350px; height: 25px;">
            </div>

            <div class="insCss">
              <label>問卷說明 : </label>
              <textarea [(ngModel)]="quesDescription" style="width: 350px; height: 100px;"></textarea>
            </div>

            <div class="insCss">
              <label>開始時間 : </label>
              <input type="date" [(ngModel)]="sDate" style="width: 350px; height: 25px;">
            </div>

            <div class="insCss">
              <label>結束時間 :</label>
              <input type="date" [(ngModel)]="eDate" style="width: 350px; height: 25px;">
            </div>

            <div>
              <button class="btnCss" matStepperNext>下一步 </button>
            </div>
          </div>
        </mat-step>


        <!-- 主要題目 -->
        <mat-step>
          <ng-template matStepLabel>編輯題目</ng-template>
          <button class="btnChoose" (click)="page(1)">單選</button>
          <button class="btnChoose" (click)="page(1)">複選</button>
          <button class="btnChoose" (click)="page(2)">文字</button>

          <!-- 按鈕判斷 -->
          @if ( quesEdit == 1 ) {
          <!-- 單選 / 複選 -->
          <div class="insCss">
            <label>問題名稱 : </label>
            <input style="width: 350px; height: 25px;">
          </div>
          <div>
            <label>選項 : </label>
            <br>
            <input style="width: 300px; height: 25px; margin-top: 10px;">
            <br>
            <input style="width: 300px; height: 25px; margin-top: 10px;">
          </div>
          <br>
          <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
          <div class="insCss">
            <label>是否必填 : </label>
            <input type="radio">是
            <input type="radio">否
          </div>
          } @else if ( quesEdit == 2 ) {
          <!-- 文字 -->
          <div class="insCss">
            <label>問題名稱 : </label>
            <input style="width: 350px; height: 25px;">
          </div>
          <div class="insCss">
            <label>選項 : </label>
            <textarea style="width: 380px; height: 100px;"></textarea>
          </div>
          <div class="insCss">
            <label>是否必填 : </label>
            <input type="radio">是
            <input type="radio">否
          </div>
          }
          <!-- 新增題目按鈕 -->
          <div>
            <button class="btnCss" matButton matStepperPrevious>新增題目</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>

    <span style="flex: 1 1 auto"></span>

    <!-- 即時預覽 -->
    <div class="previewBox">
      <h4><mark>問卷主題</mark></h4>
      <p>問卷名稱 : {{ quesName}}</p>
      <p>問卷說明 : {{ quesDescription }}</p>
      <p>開始時間 : {{ sDate }}</p>
      <p>結束時間 : {{ eDate }}</p>

      <hr class="divider">

      <h4><mark>主要問題</mark></h4>
      <div class="btnEditBox">
        <div class="iconBox">
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
        </div>
        <div>
          <p>1. 喜歡慢慢享受還是速速吃飯 :</p>
          <input type="radio">慢慢享受(純粹吃飯很慢)
          <input type="radio">速速用吞的
        </div>
      </div>
      <div class="btnEditBox">
        <div class="iconBox">
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
        </div>
        <div>
          <p>2. 鍋燒類的主餐選哪個? </p>
          <input type="checkbox">意麵
          <input type="checkbox">雞絲麵
          <input type="checkbox">烏龍麵
          <input type="checkbox">飯
          <input type="checkbox">都加
        </div>
      </div>
      <div class="btnEditBox">
        <div class="iconBox">
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
        </div>
        <div>
          <p>3. 其他想吃的?</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btnNext" (click)="checkPage()">預覽</button>
</div>
