.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.background {
  background-color: #FAF9FD;
}

.bodyCss {
  display: flex;
  justify-content: center;
}

.stepperBox {
  width: 500px;
  margin-left: 190px;
  margin-right: 30px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.previewBox {
  font-size: 14px;
  margin-right: 190px;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 450px;
  height: 500px;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(180, 119, 119, 0.09);
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: auto;
  overflow-x: hidden;
}

.preCss {
  padding-bottom: 10px;
  word-break: keep-all;
}

.divider {
  border-top: 1px solid #971D10;
  margin-top: 25px;
  margin-bottom: 25px;
}

mark {
  background-color: #F7DDA1;
  color: #971D10;
}

.btnCss {
  height: 28px;
  width: 280px;
  border-radius: 50px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}

.insCss {
  display: flex;
  justify-content: left;
  padding-top: 20px;
  font-size: 14px;
}
.rqCss{
  color: #971D10;
}
label {
  padding-right: 10px;
  font-size: 14px;
}

.btnChoose {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}
/* 選中效果 */
.activeBtn {
  background-color: #fafafa;
  color: #971D10;
  border: 2px solid #971D10;
}

.mat-step-icon-selected {
  background-color: #971D10;
}

.btnEditBox {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
}

.iconBox {
  margin-right: 10px;
}
.iconCss {
  cursor: pointer;

  &:hover {
    color: #971D10;
  }
}

.btnNext {
  height: 30px;
  width: 60px;
  border-radius: 30px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-bottom: 50px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}
.btnBox {
  margin-left: 1000px;
}
.inputCss {
  width: 280px;
  height: 23px;
}

.input2Css {
  width: 280px;
  height: 23px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.ansCss {
  padding-left: 70px;
}
