<!-- 主題設計 -->
<div class="container">
  <img class="bigImage" src="/banner5.png">
  <div class="mainTitleCss">{{ theme.mainTitle }}</div>
  <div class="subtitleCss">{{ theme.subtitle }}</div>
</div>

<div class="dateCss">
  <span>問卷時間 : {{ theme.sDate }}</span> ~ <span>{{ theme.eDate }}</span>
</div>

<div class="background">
  <div class="themeCss">
    <h3>{{ theme.theme }}</h3>
    <div>
      {{ theme.describe }}
    </div>
  </div>



  <!-- 基本資料 -->
  <div class="bodyCss">
    <p class="titleCss">填寫人基本資料</p>
    <hr class="divider">
    <div class="basicCss">
      <p>姓名 : {{ userData.name }}</p>
      <p>手機 : {{ userData.phone }}</p>
      <p>E-mail : {{ userData.email }}</p>
      <p>年齡 : {{ userData.age }}</p>
    </div>
  </div>


  <!-- 問題 -->
  <div class="bodyCss">
    <p class="titleCss">主要問題</p>
    <hr class="divider">

    <!-- 單選題 -->
    @for (ques of singleQues; track $index) {
      <div class="btnEditBox">{{ ques.quesId }}. {{ ques.quesTitle }}</div>
      <div class="ansCss">
        {{ ques.answer }}
      </div>
    }

    <!-- 複選題 -->
    @for (ques of multiQuesArray; track $index) {
      <div class="btnEditBox">{{ ques.quesId }}. {{ ques.quesTitle }}</div>
      @for (option of ques.options; track $index) {
        @if (option.checkBoolean == true) {
        <div class="ansCss">
          {{ option.name }}
        </div>
        }
      }
    }

    <!-- 文字題 -->
    @for (ques of textQues; track $index) {
      <div class="btnEditBox">{{ ques.quesId }}. {{ ques.quesTitle }}</div>
      <div class="ansCss">
        {{ques.answer }}
      </div>
    }
  </div>



  <!-- 按鈕 -->
  <div class="allBtnCss">
    <button class="btn1Css" (click)="revise()">修改</button>
    <button class="btn1Css" (click)="openDialog()">送出</button>
  </div>
