<div class="background">
  <div class="headerCss">
    <!-- logo -->
    <div class="logoCss" (click)="logoBtn()">CHICHI</div>
    <span class="spacer"></span>

    <!-- 導航按鈕 -->
    @if (isLogin) {
    <div class="btnBox">
      <button class="btnChoose">問卷列表</button>
      <button class="btnCss" (click)="openUser()">個人資料</button>
      <button class="btnCss" (click)="logOut()">登出</button>
      <div class="iconCss">
        <mat-icon aria-hidden="false" aria-label="Example manage_accounts icon"
          fontIcon="manage_accounts" (click)="adminLog()"></mat-icon>
      </div>
    </div>
    }
  </div>
</div>
