<!-- 主題設計 -->
<div class="container">
  <img class="bigImage" src="/banner6.png">
  <div class="pointCss">{{ theme.point }}</div>
  <div class="pointDesCss">{{ theme.pointDescription }} </div>
</div>

<div class="dateCss">
  <span>問卷時間 : {{ quiz.startDate }}</span> ~ <span>{{ quiz.endDate }}</span>
</div>

<div class="background">
  <div class="quizCss">
    <h3>{{ quiz.title }}</h3>
    <div>
      {{ quiz.description }}
    </div>
  </div>


  <!-- 基本資料 -->
  <div class="bodyCss">
    <p class="titleCss">填寫人基本資料</p>
    <hr class="divider">
    <div class="basicCss">
      <p>姓名 : </p>
      <p>手機 : </p>
      <p>E-mail : </p>
      <p>年齡 : </p>
    </div>
  </div>


  <!-- Question -->
  <div class="bodyCss">
    <p class="titleCss">主要問題</p>
    <hr class="divider">

       @for (quesData of questionVoList; track $index) {

        <div class="btnEditBox">
          <!-- 必選 -->
          @if (quesData.required == true) {
            <span class="rqCss">*</span>
          }
          {{ $index + 1 }}. {{ quesData.name }}
        </div>

        <div class="ansCss">
          <!-- 單選 -->
          @if (quesData.type == 'S') {
            @for (opt of quesData.optionsList; track $index) {
            <div>
              <input type="radio" name="{{ quesData.questionId }}" [(ngModel)]="quesData.radioAnswer" [value]="opt.code">{{ opt.optionName  }}
            </div>
            }
          }

          <!-- 複選 -->
          @if (quesData.type == 'M') {
            @for (opt of quesData.optionsList; track $index) {
            <div><input type="checkbox">{{ opt.optionName }}</div>
            }
          }

          <!-- 文字 -->
          @if (quesData.type == 'T') {
            <div><textarea placeholder="使用者回答區"></textarea></div>
          }
        </div>
      }
    </div>

  <!-- 按鈕 -->
  <div class="allBtnCss">
    <button class="btn1Css" (click)="back()" >修改</button>
    <button class="btn1Css" (click)="save()" >僅儲存</button>
    <button class="btn1Css" (click)="publish()">儲存並發佈</button>
  </div>

