<!-- 主題設計 -->
<div class="container">
  <img class="bigImage" src="/banner5.png">
  <div class="mainTitleCss">{{ theme.mainTitle }}</div>
  <div class="subtitleCss">{{ theme.subtitle }}</div>
</div>

<div class="dateCss">
  <span>問卷時間 : {{ theme.sDate }}</span> ~ <span>{{ theme.eDate }}</span>
</div>

<div class="background">
  <div class="themeCss">
    <h3>{{ theme.theme }}</h3>
    <div>
      {{ theme.describe }}
    </div>
  </div>


  <!-- 基本資料 -->
  <div class="bodyCss">
    <p class="titleCss">填寫人基本資料</p>
    <hr class="divider">
    <div class="basicCss">
      <p>姓名 : </p>
      <p>手機 : </p>
      <p>E-mail : </p>
      <p>年齡 : </p>
    </div>
  </div>


  <!-- Question -->
  <div class="bodyCss">
    <p class="titleCss">主要問題</p>
    <hr class="divider">

       @for (quesData of quesArray; track $index) {

        <div class="btnEditBox">
          <!-- 必選 -->
          @if (quesData.required == true) {
            <span class="rqCss">*</span>
          }
          {{ $index + 1 }}. {{ quesData.quesTitle }}
        </div>

        <div class="ansCss">
          <!-- 單選 -->
          @if (quesData.type == 'S') {
            @for (opt of quesData.options; track $index) {
            <div>
              <input type="radio" name="{{ quesData.quesId }}" [(ngModel)]="quesData.answer" [value]="opt">{{ opt }}
            </div>
            }
          }

          <!-- 複選 -->
          @if (quesData.type == 'M') {
            @for (opt of quesData.options; track $index) {
            <div><input type="checkbox">{{ opt.name }}</div>
            }
          }

          <!-- 文字 -->
          @if (quesData.type == 'T') {
            <div><textarea placeholder="使用者回答區"></textarea></div>
          }
        </div>
      }
    </div>

  <!-- 按鈕 -->
  <div class="allBtnCss">
    <button class="btn1Css" (click)="back()" >修改</button>
    <button class="btn1Css" (click)="save()" >僅儲存</button>
    <button class="btn1Css" (click)="publish()">儲存並發佈</button>
  </div>

