<!-- 上方圖片設計 -->
<div class="container">
  <img class="bigImage" src="/lemon.jpg">
  <div class="topText">FAVORITE FOOD</div>
  <div class="topText2">Your usual dining habits | Food Food Food </div>
</div>

  <p>問卷時間2025</p>

<div class="background">
  <div class="themeCss">
    <h3>主題：吃飯喜好</h3>
    <div>
      吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯
      吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯
      吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯吃飯
    </div>
  </div>



  <!-- 基本資料 -->
  <div class="bodyCss">
    <p class="titleCss">填寫人基本資料</p>
    <hr class="divider">
    <div class="basicCss">
      <p>姓名 <input></p>
      <p>手機 <input></p>
      <p>E-mail <input></p>
      <p>年齡 <input></p>
    </div>
  </div>



  <!-- Question -->
  <div class="bodyCss">
    <p class="titleCss">主要問題</p>
    <hr class="divider">
    <ol>
      <li>吃宵夜嗎?</li>
      <input type="radio" value="eat" name="A" >吃
      <input type="radio" value="noEat" name="A">不吃
      <br><br><br>
      <li>喜歡慢慢享受還是速速吃飯?</li>
      <input type="radio" value="enjoy" name="B">慢慢享受(純粹吃飯很慢)
      <input type="radio" value="noEnjoy" name="B">速速用吞的
      <br><br><br>
      <li>吃麥當勞點什麼飲料?</li>
      <input type="checkbox">可樂
      <input type="checkbox">Fake可樂
      <input type="checkbox">雪碧
      <input type="checkbox">檸檬紅茶
      <input type="checkbox">其他不重要
      <br><br><br>
      <li>鍋燒類的主餐選哪個?</li>
      <input type="checkbox">意麵
      <input type="checkbox">雞絲麵
      <input type="checkbox">烏龍麵
      <input type="checkbox">飯
      <input type="checkbox">都加
      <input type="checkbox">只喝湯
    </ol>
  </div>



  <!-- 按鈕 -->
  <div class="allBtnCss">
    <button class="btn1Css">預覽</button>
    <button class="btn1Css">送出</button>
  </div>

</div>
