<!-- 主題設計 -->
<div class="container">
  <img class="bigImage" src="/banner6.png">
  <div class="pointCss">{{ theme.point }}</div>
  <div class="pointDesCss">{{ theme.pointDescription }} </div>
</div>

<div class="dateCss">
  <span>問卷時間 : {{ quiz.startDate }}</span> ~ <span>{{ quiz.endDate }}</span>
</div>

<div class="background">
  <div class="quizCss">
    <h3>{{ quiz.title }}</h3>
    <div>
      {{ quiz.description }}
    </div>
  </div>


  <!-- 基本資料 -->
  <div class="bodyCss">
    <p class="titleCss">填寫人基本資料</p>
    <hr class="divider">
    <div>
      <p>姓名 : {{ userData.name }}</p>
      <p>手機 : {{ userData.phone }}</p>
      <p>E-mail : {{ userData.email }}</p>
      <p>年齡 : {{ userData.age }}</p>
    </div>
  </div>



  <!-- 問題 -->
  <div class="bodyCss">
    <p class="titleCss">主要問題</p>
    <hr class="divider">


    <!-- 單選題 -->
    @for (ques of singleQues; track $index) {
    <div class="btnEditBox">{{ ques.questionId }}. {{ ques.name }}</div>
    @for (option of ques.optionsList; track $index) {
    <div class="ansCss">
      <input type="radio" name="{{ ques.questionId }}" [value]="option.code" [(ngModel)]="ques.radioAnswer"> {{
      option.optionName }}
    </div>
    }
    }

    <!-- 複選題 -->
    @for (ques of multiQuesArray; track $index) {
    <div class="btnEditBox">{{ ques.questionId }}. {{ ques.name }}</div>
    @for (option of ques.optionsList; track $index) {
    <div class="ansCss">
      <input type="checkbox" [(ngModel)]="option.checkBoolean"> {{ option.optionName }}
    </div>
    }
    }

    <!-- 文字題 -->
    @for (ques of textQues; track $index) {
    <div class="btnEditBox">{{ ques.questionId }}. {{ ques.name }}</div>
    <div class="ansCss">
      <textarea [(ngModel)]="ques.textAnswer" placeholder="請輸入答案"></textarea>
    </div>
    }
  </div>
</div>


<!-- 按鈕 -->
<div class="allBtnCss">
  @if (isAdmin) {
    <button class="btn1Css" (click)="backPage()">上一頁</button>
  } @else {
    <button class="btn1Css" (click)="cancel()">取消</button>
    <button class="btn1Css" (click)="check()">預覽</button>
  }


</div>
