.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #F7DDA1 ;
  color: black;
  padding: 25px 0;
}
.leftCss {
  margin-left: 200px;
  margin-right: 80px;
}
.centerCss {
  width: 450px;
  margin-right: 50px;
}
.rightCss {
  margin-right: 200px;
}
