.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #FFF9E6 ;
  color: #064192;
  padding: 40px 0;
}
.leftCss {
  margin-left: 220px;
  margin-right: 80px;
}
.centerCss {
  width: 550px;
  margin-right: 80px;
}
.rightCss {
  margin-right: 200px;
}
