<div class="footer">
  <!-- 左欄 -->
  <div class="leftCss">
    <img src="/qr.ioi.tw.png" style="width: 100px;">
  </div>
  <!-- 中間欄 -->
  <div class="centerCss">
    <p style="font-size: 16px; font-weight: 600;">/ THE SURVEY WON'T BITE /</p>
    <p style="font-size: 13px; line-height: 1.5;">
      扭蛋、盲盒、童玩…你的小秘密收藏都藏在哪裡？這份問卷就是為你量身打造的～
      沒有對錯，只有「嘿！這就是我！」的真實回答
      快來分享你的童心世界，看看你跟其他玩具迷有什麼奇妙共鳴吧～
    </p>
  </div>
  <!-- 右欄 -->
  <div class="rightCss">
    <p style="font-size: 16px; font-weight: 600; padding-left: 20px;">/ POPULAR SURVEYS /</p>
    <ul style="font-size: 13px; line-height: 1.5;">
      <li>世界上最難的選擇：先吃飯還是先滑手機？</li>
      <li>如果世界沒網路斷了，你能活幾分鐘？</li>
      <li>拖延症患者生存大調查</li>
    </ul>
  </div>
</div>
