table {
  width: 100%;
  background-color: #f8f9fa;
}
.mat-elevation-z8{
  width: 950px;
  margin-top: 40px;
  margin-left: 100px;
  border-radius: 12px;
  overflow: hidden;
}
.background{
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 100px;
  background-color: #f8f9fa;
}
.searchCss{
  margin-left: 110px;
}
.searchItem{
  font-size: 15px;
  padding-right: 5px;
}
.searchItem2{
  width: 160px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50px;
  border: 1px solid #10FC0C;
}
.btnCss{
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  height: 40px;
  width: 120px;
  border-radius: 50px;
  background: #10FC0C;
  border: 2px solid #10FC0C;
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

  &:hover {
    color: #10FC0C;
    background: black;
  }
}
.btnCss2{
  padding: 5px 34px;
  margin-left: 180px;
  height: 40px;
  width: 120px;
  border-radius: 50px;
  background: #10FC0C;
  border: 2px solid #10FC0C;
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;

  &:hover {
    color: #10FC0C;
    background: black;
  }
}

tr:nth-child(odd)  {
  background-color: #FCFCFC  ;
}

tr, th, td {
  border-bottom: 1px solid #10FC0C;
}
