table {
  width: 100%;
  background-color: #f6f6f6;
}

.mat-elevation-z8 {
  width: 1000px;
  margin: 30px auto 0 auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.background {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

.searchCss {
  text-align: center;
}

.searchItem {
  font-size: 14px;
  padding-right: 5px;
}

.searchInputCss {
  width: 160px;
  height: 28px;
  margin-right: 35px;
  padding-left: 12px;
  border-radius: 10px;
  border: 2px solid #971D10;
}

.searchInput2Css {
  width: 230px;
  height: 26px;
  margin-right: 28px;
  padding-left: 12px;
  border-radius: 10px;
  border: 2px solid #971D10;
}

tr:nth-child(odd) {
  background-color: #fcfcfc;
}

tr,
th,
td {
  border-bottom: 2px solid #971D10;
}

.cssA {
  color: black !important;
}

.cssB {
  color: #6c757d;
}

.cssC {
  color: black;
}

.routerCss {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #971D10;
  }
}

.resultCss {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: #971D10;
  }
}

.btn1Css{
  height: 30px;
  width: 65px;
  border-radius: 10px;
  background: #fafafa;
  border: 2px solid #971D10;
  color: #971D10;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 10px;
  cursor:pointer;

  &:hover {
    color: #fafafa;
    background: #971D10;
  }
}
