table {
  width: 100%;
  background-color: #f6f6f6;
}

.mat-elevation-z8 {
  width: 1000px;
  margin: 30px auto 0 auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.background {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

tr:nth-child(odd) {
  background-color: #FCFCFC;
}

tr, th, td {
  border-bottom: 2px solid #971D10;
  padding-left: 60px;
}

.resultCss {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #971D10;
  }
}
.allBtnCss {
  width: 1000px;
  margin-left: 1100px;
}

.btn1Css {
  height: 35px;
  width: 65px;
  border-radius: 50px;
  background: #971D10;
  border: 2px solid #971D10;
  color: #fafafa;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 70px;
  cursor: pointer;

  &:hover {
    color: #971D10;
    background: #fafafa;
  }
}
