<div class="background">
  <h2>統計總覽</h2>


  <table style="width:100%">
    <tr>
      <td>編號</td>
      <td>姓名</td>
      <td>填寫時間</td>
      <td>觀看結果</td>
    </tr>
    <!-- 4 -->
    <tr>
      <td>4</td>
      <td>李</td>
      <td>9/13</td>
      <td>結果</td>
    </tr>
    <!-- 3 -->
    <tr>
      <td>3</td>
      <td>劉</td>
      <td>9/12</td>
      <td>結果</td>
    </tr>
    <!-- 2 -->
    <tr>
      <td>2</td>
      <td>王</td>
      <td>9/10</td>
      <td>結果</td>
    </tr>
    <!-- 1 -->
    <tr>
      <td>1</td>
      <td>陳</td>
      <td>9/9</td>
      <td>結果</td>
    </tr>
  </table>

  <p>To understand the example better, we have added borders to the table.</p>
</div>
