.background{
  text-align: center;
}
.diaTitle{
  font-size: 17px;
  font-weight: 500;
}
.btnCss{
  width: 185px;
  height: 40px;
  border-radius: 20px;
  background: #10FC0C;
  border: 2px solid #10FC0C;
  color: black;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor:pointer;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 15px;

  &:hover {
    color: #10FC0C;
    background: black;
  }
}
