.container{
  position: relative;
  width: 100%;
  height: auto;
}
.bigImage {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1; /* 背景圖 */
}
.dateCss{
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}
.mainTitleCss {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: bolder;
  font-family: "Impact", sans-serif;
  letter-spacing: 4px;
  z-index: 2; /* 文字在圖片上方 */
}
.subtitleCss {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  z-index: 2; /* 文字在圖片上方 */
}
.bodyCss{
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  padding: 40px 65px;
  margin-bottom: 30px;
  background: #fff;
}
.background{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.themeCss{
  text-align: center;
  margin: 80px;
}
.allBtnCss{
  text-align: center;
}
.btn1Css{
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background: #10FC0C;
  border: 2px solid #10FC0C;
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 70px;
  cursor:pointer;

  &:hover {
    color: #10FC0C;
    background: black;
  }
}

.titleCss{
  font-size: 16px;
  font-weight: bold;
}
.divider{
  border-top: 1px solid #10FC0C;
}
