/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-step-icon-selected {
  background-color: #064192 !important;
}
.mat-step-icon-state-edit {
  background-color: #064192 !important;
}
.mat-step-icon-content{
  color: black;
}
.mat-step-icon{
  background-color: #064192 !important;
}
.mat-mdc-header-row {
  background-color: #064192 !important;
  color: #FFF9E6 !important;
}
